.dashboard-one-overlay {
  top: 0;
  position: fixed;
  left: 0;
  z-index: 9999;
  background: rgb(19 24 44 / 0.7);
  width: 100%;
  height: 100vh;
}

.dashboard-one {
  position: absolute;
  z-index: 9999;
  background: color(global-white);
  bottom: 0;
}